[DATABASE]
db_host = db
db_port = 5432
db_name = airbnb
db_user = postgres
db_password = ''
[SURVEY]
fill_max_room_count = 50000
room_id_upper_bound = 20000000
search_max_pages = 20
search_max_guests = 16
search_max_rectangle_zoom = 6
re_init_sleep_time = 60
[NETWORK]
proxy_list =
max_connection_attempts = 15
request_sleep = 0.0
http_timeout = 10.0
fill_max_room_count = 50000
room_id_upper_bound = 20000000
search_max_pages = 20
search_max_guests = 16
search_max_rectangle_zoom = 6
re_init_sleep_time = 60
